src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   
    <apikit:config name="api-config" api="resource::d71b2c59-cfb9-4469-b03a-c0b07eaa1d9b:jc-industry-eapi:1.0.2:raml:zip:api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="${secure::jc-mulesoft-industry-eapi.anypoint.basepath}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\user\(id):api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="ClientId"><![CDATA[attributes.headers['client_id']]]></ee:set-variable>
                <ee:set-variable variableName="ClientSecret"><![CDATA[attributes.headers['client_secret']]]></ee:set-variable>
                
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="delete-user-sub-flow" doc:id="001d60df-3a64-4ab6-a7f0-588c7b0eab3e" name="delete-user-sub-flow"/>
    </flow>
    <flow name="delete:\customer\(id):api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="ClientId"><![CDATA[attributes.headers['client_id']]]></ee:set-variable>
                <ee:set-variable variableName="ClientSecret"><![CDATA[attributes.headers['client_secret']]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="delete-customer-sub-flow" doc:id="1cf2489d-4fbb-47ee-90f3-c267bb64eb54" name="delete-customer-sub-flow"/>
    </flow>
    <flow name="patch:\customer\(id):application\json:api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="ClientId"><![CDATA[attributes.headers['client_id']]]></ee:set-variable>
                <ee:set-variable variableName="ClientSecret"><![CDATA[attributes.headers['client_secret']]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="patch-customer-id-sub-flow" doc:id="9609eff7-ae03-40a2-92d0-9ab2125c803d" name="patch-customer-id-sub-flow"/>
    </flow>
    <flow name="patch:\user\(id):application\json:api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="ClientId"><![CDATA[attributes.headers['client_id']]]></ee:set-variable>
                <ee:set-variable variableName="ClientSecret"><![CDATA[attributes.headers['client_secret']]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="patch-user-id-sub-flow" doc:id="3f52cb2d-e996-4591-badf-0f579c98cdff" name="patch-user-id-sub-flow"/>
    </flow>
    <flow name="get:\customers:api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
	         </ee:message>
	         <ee:variables>
                <ee:set-variable variableName="ClientId"><![CDATA[attributes.headers['client_id']]]></ee:set-variable>
                <ee:set-variable variableName="ClientSecret"><![CDATA[attributes.headers['client_secret']]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="get-customers-sub-flow" doc:id="a19e6759-31c7-4888-a69e-c43dfd688285" name="get-customers-sub-flow"/>
    </flow>
    <flow name="get:\users:api-config">
		<ee:transform doc:name="Transform Message" doc:id="d539a526-b326-4134-9e4a-0c4a04c96ac1" >
			<ee:message >
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="ClientId"><![CDATA[attributes.headers['client_id']]]></ee:set-variable>
                <ee:set-variable variableName="ClientSecret"><![CDATA[attributes.headers['client_secret']]]></ee:set-variable>
            </ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-users-sub-flow" doc:id="a483d325-e002-4c23-9984-a42127da9340" name="get-users-sub-flow"/>
    </flow>
    <flow name="post:\customer:application\json:api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="ClientId"><![CDATA[attributes.headers['client_id']]]></ee:set-variable>
                <ee:set-variable variableName="ClientSecret"><![CDATA[attributes.headers['client_secret']]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="post-customer-sub-flow" doc:id="dc10466f-b891-4d61-80b0-262d5cbad660" name="post-customer-sub-flow"/>
    </flow>
    <flow name="post:\user:application\json:api-config">
		<ee:transform doc:name="Transform Message" doc:id="0d7d3ede-60b6-4733-aa64-b4b97abafe7a" >
			<ee:message >
			</ee:message>
			 <ee:variables>
                <ee:set-variable variableName="ClientId"><![CDATA[attributes.headers['client_id']]]></ee:set-variable>
                <ee:set-variable variableName="ClientSecret"><![CDATA[attributes.headers['client_secret']]]></ee:set-variable>
            </ee:variables>
		</ee:transform>
		<flow-ref doc:name="post-user-sub-flow" doc:id="dd7e3dbb-71fe-49ef-b5cd-a80cac6a4391" name="post-user-sub-flow"/>
    </flow>
</mule>
